.container {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  nav {
    border-right: 1px solid #ccc;
    padding: 1rem;

    dd {
      margin-left: 0.5rem;
    }

    dd:before {
      content: '- ';
    }
  }
}
